name: CI

on: 
  push:
    branches:
      - '**'
      - '!main'

env:
  CARGO_TERM_COLOR: always

jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
      - name: Build
        run: cargo build --verbose

  test:
    runs-on: ubuntu-latest
    needs: compile
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
    - name: Test
      run: cargo test --verbose

  # Push formatting commit even if compilation/testing fails. This does not
  # push a commit if no formatting is required.
  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
    - name: Create Formatting Commit
      uses: mbrobbel/rustfmt-check@master
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
